@tailwind base;
@tailwind components;
@tailwind utilities;

.textAlignVertical{
    line-height: 1525%;
}

::-webkit-input-placeholder {
    text-align: center;
 }
 
 :-moz-placeholder { /* Firefox 18- */
    text-align: center;  
 }
 
 ::-moz-placeholder {  /* Firefox 19+ */
    text-align: center;  
 }
 
 :-ms-input-placeholder {  
    text-align: center; 
 }

 .button{
     color: white;
     background-color: royalblue;
     border-radius: 10px;
     padding: 5px
 }